* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#fff, #ffd6d6);
  height: 100vh;
}
.form {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
}
.login-form,
.register-form {
  display: none;
}
button {
  font-size: 30px;
  padding: 12px;
  border-radius: 12px;
  background-color: brown;
  color: white;
}
button:hover {
  background-color: #0ef;
  color: black;
}
.login-form input,
.register-form input {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h4 a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

h4 a:hover {
  text-decoration: underline;
}
