* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 1;
}
.nav-bar h1 {
  font-size: 38px;
  font-weight: 700;
  margin: 5px 8px;
}
span {
  color: red;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar ul li {
  list-style: none;
  padding-right: 15px;
}
.nav-bar ul li a {
  padding: 10px 14px;
  list-style: none;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.nav-bar ul li a:hover {
  color: #0ef;
}

.contents {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/images/background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  top: 0;
  left: 0;
  color: white;
}

.contents h1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 25px;
}
.contents p {
  font-size: 22px;
  text-align: center;
  padding-bottom: 25px;
  line-height: 4vh;
}
button {
  font-size: 30px;
  padding: 12px;
  border-radius: 12px;
  background-color: brown;
  color: white;
}
button:hover {
  background-color: #0ef;
  color: black;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 25px;
}
footer a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
